/*From http://tristen.ca/tablesort/tablesort.css*/
th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
}
th[role=columnheader]:not(.no-sort):after {
  content: '';
  position: absolute;
  top: 1em;
  right: 4px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #333 transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
  visibility: visible;
  opacity: 0.8;
}
th[aria-sort=descending]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.8;
}
th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}
th[role=columnheader] {
  position: relative;
  padding-right: 1em;
}
th[role=columnheader] a {
  color: inherit;
  text-decoration: none;
}

nav.panel-footer {
  padding: 0 2em;
  text-align: center;
}
nav.panel-footer .pagination {
  margin: .5em;
}

.number {
  text-align: right;
}
.breakall {
  word-break: break-all;
}
.nowrap {
  white-space: nowrap;
}
