{% extends "_layout.html" %}

{% block content %}
<h2>Internal Server Error</h2>
<p>Oops. Something broke badly. The following error message may or may not
  make any sense to you or the developers:</p>
<div class="well">{{ error }}</div>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
