<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes, width=device-width">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="robots" content="noindex">
    <title>{% block title %}Content Security Policy violation reports{% endblock %}</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
    {% block css %}{% endblock %}
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">CSP report</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% block nav_li_index %}{% endblock %}"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="{% block nav_li_tools %}{% endblock %}"><a href="{{ url_for('tools') }}">Tools</a></li>
            <li class="{% block nav_li_sites %}{% endblock %}"><a href="{{ url_for('sites') }}">Sites</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="{{ url_for('search') }}" role="search">
            <div class="form-group">
              <label class="sr-only" for="q">Search</label>
              <input class="form-control" type="text" id="q" name="q" placeholder="Search" value="{{ form.q if form and form.q }}">
            </div>
            <button type="submit" class="btn btn-default" aria-label="Submit">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </form>
        </div>
      </div>
    </nav>
    {% endblock %}
    {% block banner %}{% endblock banner %}
    <div id="content" class="container-fluid">
      {% block pre_content %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% endblock %}
      {% block content %}{% endblock %}
      {% block post_content %}{% endblock post_content %}
    </div>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="row"><hr></div>
        <div class="row">
          <div class="col-xs-6">
            <img src="https://tools-static.wmflabs.org/static/logos/powered-by-tool-labs.png" alt="Powered by Wikimedia Tool Labs">
          </div>
          <div class="col-xs-6 text-muted text-right">
            <a id="source" href="https://phabricator.wikimedia.org/source/tool-csp-report/">view source</a>
          </div>
        </div>
      </div>
    </footer>
    {% block js %}
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
