<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/tablesort/5.0.1/tablesort.min.js" integrity="sha256-9K8PNtEmsUnNmfTBL9Qn58jQokYgaReYVbONQ+VEhaM=" crossorigin="anonymous"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/tablesort/5.0.1/sorts/tablesort.number.min.js" integrity="sha256-iN7KurZsC57TrLxXl68DsJd47XVqpfCZDAFexSr619Q=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='sort.js') }}"></script>
