{% extends "_layout.html" %}

{% macro qs() -%}
{{ url_for('search') }}?{{ qs_merge(**kwargs)|safe }}
{%- endmacro %}

{% block nav_li_index %}active{% endblock %}

{% block content %}
<h2>Top Content-Security-Policy violations</h2>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          Top tools with violations
        </h3>
      </div>
      <table class="table table-condensed table-striped table-bordered tablesort">
        <thead>
          <tr>
            <th>Tool</th>
            <th data-sort-method="number" data-sort-default>Violations</th>
          </tr>
        </thead>
        <tbody>
          {% for tool, count in tools|dictsort(false, 'value') %}
          <tr>
            <td><a href="{{ url_for('search') }}?ft={{ tool }}">{{ tool }}</a></td>
            <td class="number">{{ count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          Top blocked sites
        </h3>
      </div>
      <table class="table table-condensed table-striped table-bordered tablesort">
        <thead>
          <tr>
            <th>Site</th>
            <th data-sort-method="number" data-sort-default>Violations</th>
          </tr>
        </thead>
        <tbody>
          {% for site, count in blocked|dictsort(false, 'value') %}
          <tr>
            <td><a href="{{ url_for('search') }}?fs={{ site }}">{{ site }}</a></td>
            <td class="number">{{ count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
{% include "_tablesort.html" %}
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
