{% extends "_layout.html" %}

{% macro qs() -%}
{{ url_for('search') }}?{{ qs_merge(**kwargs)|safe }}
{%- endmacro %}

{% macro sort_header(label, col) -%}
{% set sorted = form.s == col %}
{% if sorted %}
{% set o = 'asc' if form.o == 'desc' else 'desc' %}
{% set ao = 'ascending' if form.o == 'desc' else 'descending' %}
{% else %}
{% set o = 'desc' %}
{% set ao = '' %}
{% endif %}
<th class="nowrap" role="columnheader" aria-sort="{{ ao }}"><a href="{{ qs(s=col, o=o) }}">{{ label }}</a></th>
{%- endmacro %}

{% block content %}
<h2>
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  Search
</h2>
<div class="row">
  <div class="col-md-9 col-md-push-3">
    <form class="row" action="{{ url_for('search') }}" role="search">
      {% if form.fs -%}
      <input type="hidden" name="fs" value="{{ form.fs }}">
      {%- endif %}
      {% if form.ft -%}
      <input type="hidden" name="ft" value="{{ form.ft }}">
      {%- endif %}
      <div class="form-group col-xs-8">
        <label class="sr-only" for="q">Search query</label>
        <input type="text" class="form-control" id="q" name="q" value="{{ form.q if form.q }}">
      </div>
      <div class="col-xs-4">
        <button type="submit" class="btn btn-default">Go</button>
      </div>
    </form>
    <div class="row">
      <div class="col-xs-12 text-right">
        Showing {% if pagination.count > 1 %}{{ '{:,}'.format(hits.first) }}-{{ '{:,}'.format(hits.last) }} of {% endif %}
        {{ '{:,}'.format(hits.all) }} results
        <small class="text-muted">({{ results.took }}ms)</small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-md-push-3">
    <div class="panel panel-default">
      <table class="table table-condensed table-striped table-bordered tablesort">
        <thead>
          <tr>
            {{ sort_header('Date', '@timestamp') }}
            {{ sort_header('Tool', 'tool') }}
            {{ sort_header('Site', 'blocked-site') }}
            <th class="nowrap">Doc URI</th>
            <th class="nowrap">Blocked URI</th>
          </tr>
        </thead>
        <tbody>
          {% for hit in results.hits.hits %}
          <tr>
            <td>{{ hit._source['@timestamp'].split('T')[0] }}</td>
            <td>{{ hit._source.tool }}</td>
            <td>{{ hit._source['blocked-site'] }}</td>
            <td class="breakall">{{ hit._source['document-uri'] }}</td>
            <td class="breakall">{{ hit._source['blocked-uri'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav class="panel-footer" aria-label="Page navigation">
        <ul class="pagination">
          {% if form.p > 0 %}
          <li><a href="{{ qs(p=form.p - 1) }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          {% else %}
          <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
          {% endif %}
          {% if pagination.left > 0 %}
          <li><a href="{{ qs(p=0) }}">1</a></li>
          <li class="disabled"><span>&hellip;</span></li>
          {% endif %}
          {% for i in range(pagination.left, pagination.right) %}
          <li class="{% if form.p == i %}active{% endif %}"><a href="{{ qs(p=i) }}">{{ i + 1 }}</a></li>
          {% endfor %}
          {% if pagination.right < pagination.count - 1 %}
          <li class="disabled"><span>&hellip;</span></li>
          <li><a href="{{ qs(p=pagination.count - 1) }}">{{ pagination.count }}</a></li>
          {% endif %}
          {% if form.p + 1 < pagination.count %}
          <li><a href="{{ qs(p=form.p + 1) }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          {% else %}
          <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-md-3 col-md-pull-9">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">Tools</div>
        <div class="list-group">
          {% for bucket in results.aggregations.tool.buckets %}
          {% if form.ft == bucket.key %}
          <a href="{{ qs(ft='') }}" class="list-group-item active">
          {% else %}
          <a href="{{ qs(ft=bucket.key) }}" class="list-group-item">
          {% endif %}
            <span class="badge">{{ '{:,}'.format(bucket.doc_count) }}</span>
            {{ bucket.key }}
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Sites</div>
        <div class="list-group">
          {% for bucket in results.aggregations.site.buckets %}
          {% if form.fs == bucket.key %}
          <a href="{{ qs(fs='') }}" class="list-group-item active">
          {% else %}
          <a href="{{ qs(fs=bucket.key) }}" class="list-group-item">
          {% endif %}
            <span class="badge">{{ '{:,}'.format(bucket.doc_count) }}</span>
            {{ bucket.key }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if request.args.debug %}<pre>{{ results|pprint }}</pre>{% endif %}
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
