{% extends "_layout.html" %}

{% block nav_li_tools %}active{% endblock %}

{% block content %}
<h2>
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  Tools with Content-Security-Policy violations
</h2>

<div class="panel panel-default">
  <table class="table table-condensed table-striped table-bordered tablesort">
    <thead>
      <tr>
        <th>Tool</th>
        <th data-sort-method="number" data-sort-default>Violations</th>
      </tr>
    </thead>
    <tbody>
      {% for tool, count in tools|dictsort(false, 'value') %}
      <tr>
        <td><a href="{{ url_for('search') }}?ft={{ tool }}">{{ tool }}</a></td>
        <td class="number">{{ count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block js %}
{{ super() }}
{% include "_tablesort.html" %}
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
